<!DOCTYPE html>
<html lang="en">
   <%- include ('../partials/_header') %> 

      <!-- end header inner -->
      <!-- end header -->
        <div class="back_re">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                   <h2>Our Trainers</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- trainers -->
      <div  class="trainers">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <p>Lorem Ipsum available, but the majority have suffered </p>
                  </div>
               </div>
            </div>
            <div class="row">
               <% trainers.forEach(trainer => { %>
                  <div class="col-md-4">
                     <div id="trai" class="trainer_box">
                        <div class="trainer_img">
                           <figure><img src="<%- trainer.photo %>" alt="#"/></figure>
                        </div>
                        <div class="trainer">
                           <h3><%- trainer.name %></h3>
                           <p>architecture</p>
                        </div>
                     </div>
                  </div>  
               <% }) %>
               
            </div>
         </div>
      </div>
      <!-- end trainers -->
      <!--  footer -->
      <%- include ('../partials/_footer') %>
      <!-- end footer -->
      <!-- Javascript files-->
   </body>
</html>
