<!DOCTYPE html>
<html lang="en">
   <%- include ('../partials/_header') %> 


    <form action="/settings" method="post">
        <div class="pp_photo ">
            <img src="" alt="" srcset="">
        </div>
        <div class="pp_info">
         <label for="">
            <input type="text" name="" value="AD - Soyad" disabled id=""> 
         </label>
        </div>
    </form>



         <!-- end trainers -->
      <!--  footer -->
      <%- include ('../partials/_footer') %>
      <!-- end footer -->
      <!-- Javascript files-->
   </body>
</html>
